<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookEdit</title>
    <link rel="stylesheet" th:href="@{/css/bookEditPage.css}">
</head>
<body>
<h1>EDIT YOUR BOOK</h1>

<form class="edit-book-form" th:method="PUT" th:object="${bookEditRequest}" th:action="@{'/books/' + ${bookById.id} + '/edit'}" >

  <label for="bookTitle">Book Title</label>
  <input type="text" name="bookTitle" id="bookTitle" th:field="*{title}" required></input>
  <p class="alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

  <label for="price">Price</label>
  <input type="text" name="price" id="price" th:field="*{price}" required></input>
  <p class="alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>

  <label for="authorFirstName">Author First Name</label>
  <input type="text" placeholder="Author First Name" id="authorFirstName" name="authorFirstName" th:field="*{firstName}" required="required" />

  <p class="text-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

  <label for="authorLastName">Author Last Name</label>
  <input type="text" name="authorLastName" id="authorLastName" th:field="*{lastName}" required></input>
  <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

  <button id="button-editBook" type="submit">Edit Book</button>

</form>

</body>
</html>