<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/books.css}">
    <title>Books</title>
</head>
<body>

<nav class="navbar">
    <form>
        <ul>
            <li>
                <a th:href="@{/home}" class="btn">Go Back</a>
                <a th:href="@{/books/add}">Add Book </a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Sort by</button>
                    <div class="content">
                        <a th:href="@{/books/get(sort='Author', direction=${direction == 'asc' ? 'desc' : 'asc'})}">by
                            Author name  asc</a>
                        <a th:href="@{/books/get(sort='Author', direction=${direction == 'desc' ? 'desc' : 'asc'})}">by
                            Author name  desc</a>
                        <a th:href="@{/books/get(sort='title', direction=${direction == 'desc' ? 'desc' : 'asc'})}">by
                            Title asc</a>
                        <a th:href="@{/books/get(sort='title', direction=${direction == 'desc' ? 'asc' : 'desc'})}">by
                            Title desc</a>
                        <a th:href="@{/books/get(sort='price', direction=${direction == 'desc' ? 'desc' : 'asc'})}">by
                            price asc</a>
                        <a th:href="@{/books/get(sort='price', direction=${direction == 'desc' ? 'asc' : 'desc'})}">by
                            price desc</a>

                    </div>
                </div>
            </li>
        </ul>

        <div id="listOfBooks">
            <table id="tableBooks">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="book :${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author.firstName} +' '+  ${book.author.lastName}"></td>
                    <td th:text="${book.price}"></td>
                    <td>
                        <a th:href="@{'/books/' + ${book.id} + '/edit'}">Edit Book</a>
                    </td>
                    <td>
                        <form th:action="@{'/books/' + ${book.id} + '/delete'}" method="POST">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</nav>
<footer class="footer">

    <div class="div-footer"><p>© 2025 Project Repository. All rights reserved.</p></div>

</footer>


</body>

</html>