<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body class="home">
<nav class="navbar">
    <form>
        <ul>
            <li>
                <a th:href="@{'/users/' + ${user.id} +'/profile'}" class="btn">Update Profile</a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Media</button>
                    <div class="content">
                        <a th:href="@{/Media/movie/tvshow}">Movie/TvShow</a>
                        <a th:href="@{/books/get}">Books</a>
                    </div>
                </div>
            </li>
            <li>
                <a th:href="@{/wishlist}" class="btn">My Wish List</a>
            </li>
            <li th:if="${user.role.name == 'ADMIN'}">
                <a th:href="@{/users/getAllUsers}"> Users</a>
            </li>

            <li>
                <a th:href="@{/clientSearch/Dmdb}" class="btn"> search in DMDB</a>
            </li>
            <li>
                <a th:href="@{/clientSearch}" class="btn"> search in Repository </a>
            </li>
            <li>
                <a th:href="@{/logout}" class="btn">Logout</a>

            </li>

        </ul>

    </form>

    <div class="currentTime">
        <h3 id="timeItIs"></h3>
    </div>
</nav>
<div class="Profile-section">
    <img class="profile-img" th:src="${#strings.isEmpty(user.getProfilePic()) ? 'https://cdn0.iconfinder.com/data/icons/cryptocurrency-137/128/1_profile_user_avatar_account_person-132-256.png' : user.profilePic}"
         alt="Profile Picture"></img>

</div>
<h2>Additional info</h2>
<div class="details-section-container">

    <h3 th:text="${ 'Username : '+ user.getUsername()}"></h3>
</div>
<div class="details-section-container">

    <h3 th:text="${'First name :' + user.getFirstName()}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${'Last name :'+user.getLastName()}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${'Email address :'+  user.email}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${' Your age : '+ user.age}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${'Country you live in : '+ user.country}"></h3>
</div>
<h2 id="HomeH2Title">Last Added Item - Media </h2>

<div class="LastAddedItem">
    <table>
        <tr>
            <th style="width: 200px">Media_Type</th>
            <th style="width: 333px">Title</th>
            <th style="width: 150px">Genre</th>
            <th style="width: 69px">Seasons</th>
            <th>Realise_Date</th>
        </tr>
        <tr th:each="iter, stats : ${media}" th:if="${stats.count==1}">
            <td th:text="${iter.mediaType}"></td>
            <td th:text="${iter.title}"></td>
            <td th:text="${iter.genre}"></td>
            <td th:text="${iter.season}"></td>
            <td th:text="${#temporals.format(iter.releaseDate, 'dd MMM yyyy')}"></td>
        </tr>
    </table>
</div>
<h2 id="BookH2">Last Added Item - Books </h2>

<div class="LastAddedItem">
    <table>
        <tr>
            <th style="width: 200px">Title</th>
            <th style="width: 100px">Price</th>
            <th style="width: 150px">Author</th>
        </tr>
        <tr th:each="iter, stats : ${books}" th:if="${stats.count==1}">
            <td th:text="${iter.title}"></td>
            <td th:text="${iter.price}"></td>
            <td th:text="${iter.author.firstName +' ' + iter.author.lastName}"></td>
        </tr>
    </table>
</div>


<script>
    let time = document.getElementById('timeItIs');

    setInterval(() => {
        let clock = new Date();
        time.innerHTML = clock.toLocaleTimeString()
    }, 1000)
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script>
    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function () {
        console.log("Connected!");

        stompClient.subscribe('/topic/reminders', function (message) {
            alert(message.body);
        });
    });
</script>

<div id="output"></div>

<footer class="footer">

    <div class="div-footer"><p>© 2025 Project Repository. All rights reserved.</p></div>

</footer>


</body>
</html>