<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body class="home">
<nav class="navbar">
    <form>
        <ul>
            <li>
                <a th:href="@{'/users/' + ${user.id} +'/profile'}" class="btn">Update Profile</a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Media</button>
                    <div class="content">
                        <a th:href="@{/Media/movie/tvshow}">Movie/TvShow</a>
                        <a th:href="@{/books/get}">Books</a>
                    </div>
                </div>
            </li>
            <li>
                <a th:href="@{/wishlist}" class="btn">My Wish List</a>
            </li>
            <li>
                <a th:href="@{/messages}" class="btn">Messages</a>
            </li>
            <li>
                <a th:href="@{/logout}" class="btn">Logout</a>

            </li>

        </ul>

    </form>

    <div class="currentTime">
        <h3 id="timeItIs"></h3>
    </div>
</nav>
<div class="Profile-section">
    <img class="profile-img" th:src="${#strings.isEmpty(user.getProfilePic()) ?'Screenshot 2025-03-03 002657.png':user.profilePic}"
         alt="Profile Picture"></img>

</div>
<h2>Additional info</h2>
<div class="details-section-container">

    <h3 th:text="${ 'Username : '+ user.getUsername()}"></h3>
</div>
<div class="details-section-container">

    <h3 th:text="${'First name :' + user.getFirstName()}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${'Last name :'+user.getLastName()}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${'Email address :'+  user.email}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${' Your age : '+ user.age}"></h3>
</div>
<div class="details-section-container">
    <h3 th:text="${'Country you live in : '+ user.country}"></h3>
</div>
<br>
<h2 id="h2Title">Last Added Item </h2>

<div class="LastAddedItem">
    <table>
        <tr>
            <th>Media_Type</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Seasons</th>
            <th>Realise_Date</th>
        </tr>
        <tr th:if="${not #lists.isEmpty(user.getShows())}" th:with="lastShow=${user.getShows()[#lists.size(user.getShows().getLast())]}">
            <td th:text="${lastShow.mediaType}"></td>
            <td th:text="${lastShow.title}"></td>
            <td th:text="${lastShow.genre}"></td>
            <td th:text="${lastShow.season}"></td>
            <td th:text="${#temporals.format(lastShow.releaseDate, 'dd MMM yyyy')}"> 2007</td>
        </tr>
    </table>

</div>

<script>
    let time = document.getElementById('timeItIs');

    setInterval(() => {
        let clock = new Date();
        time.innerHTML = clock.toLocaleTimeString()
    }, 1000)
</script>

<footer class="footer">

    <div class="div-footer"><p>© 2025 Project Repository. All rights reserved.</p></div>

</footer>


</body>
</html>