<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Repository</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="mainBody">

<div>
    <nav class="nav">

    <header>
        <img class="Front-Image" src="/images/Screenshot%202025-01-31%20190230.png" alt="Logo Image">
    </header>

        <button class="btn" th:href="@{/login}" type="button">
            <a th:href="@{/login}" class="button login">Login</a>
        </button>


        <button  class="btn" th:href="@{/register}" type="button">
            <a th:href="@{/register}" class="button register">Register</a>
        </button>


    </nav>

</div>

<h1 class="table-header"> Your personal digital archive for books, movies and series.  </h1>

<div class="header-inner">

    <article class="article">
    <header class="header-inner-header">
        <h1 class="article-header">
            In today's dynamic daily life, filled with countless books, movies and series that grab our attention,
            it is often difficult to remember everything that we want to read or watch. And while the list of proposals grows,
            and time does not reduce them, the question arises: "How can I organize all this in a convenient way?"
            Imagine one place where you can store all your cultural discoveries—from classic novels and blockbuster movies to the latest hit series.
            A repository that not only helps you record what you've already watched or read,
            but also reminds you of those titles that are still waiting for their time.
            With such a solution, you can free yourself from the chaos of manual notes or forgotten titles by having easy access to your collection — neat,
            organized and always at hand. Let us turn your cultural plans into reality and never again lose track of the inspiring stories that await you.
        </h1>
    </header>
    </article>



    <footer class="footer">

            <div class="div-footer"><p>© 2025 Project Repository. All rights reserved.</p></div>

    </footer>

</div>















</body>
</html>