<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/loginDemo.css}">
</head>
<body class="login">
<div class="login__container">

    <form class="login__container--form">
        <div class="login__title">
            <h1>Login</h1>
        </div>
        <div class="login__field">
            <label for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" id="Username" placeholder="Enter your Username">
        </div>
        <div class="login__field_password">
            <label for="Password" class="form-label">Password</label>
            <input type="text" class="form-control" id="Password" placeholder="Enter your Password">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox1"/>
            <label class="form-check-label" for="checkbox1">
                Remember me
            </label>
        </div>
    </form>

</div>
<footer class="footer">

    <div class="div-footer"><p>© 2025 Project Repository. All rights reserved.</p></div>

</footer>


</body>
</html>