<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie-TvShow</title>
  <link rel="stylesheet" th:href="@{/css/movie-tvShowMainPage.css}"></link>

</head>
<body>

<nav class="navbar">
  <form>
    <ul>
      <li>
        <a th:href="@{/home}" class="btn">Go Back</a>
        <a th:href="@{/Media/movie/tvshow/add}">Add Movie/Tvshow </a>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Sort by</button>
          <div class="content">
            <a th:href="@{/Media/movie/tvshow(sort='title', direction=${direction == 'asc' ? 'desc' : 'asc'})}"> Sort by title asc</a>
            <a th:href="@{/Media/movie/tvshow(sort='title', direction=${direction == 'desc' ? 'desc' : 'asc'})}"> Sort by title desc</a>
            <a th:href="@{/Media/movie/tvshow(sort='genre', direction=${direction == 'desc' ? 'desc' : 'asc'})}"> Sort by genre desc</a>
            <a th:href="@{/Media/movie/tvshow(sort='genre', direction=${direction == 'asc' ? 'desc' : 'asc'})}"> Sort by genre asc</a>
            <a th:href="@{/Media/movie/tvshow(sort='releaseDate', direction=${direction == 'asc' ? 'desc' : 'asc'})}"> Sort by releaseDate asc</a>
            <a th:href="@{/Media/movie/tvshow(sort='releaseDate', direction=${direction == 'desc' ? 'desc' : 'asc'})}"> Sort by releaseDate desc</a>
            <a th:href="@{/Media/movie/tvshow(sort='seasons', direction=${direction == 'asc' ? 'desc' : 'asc'})}"> Sort by seasons asc</a>
            <a th:href="@{/Media/movie/tvshow(sort='seasons', direction=${direction == 'desc' ? 'desc' : 'asc'})}">Sort by seasons asc</a>
          </div>
        </div>
      </li>
    </ul>

      <table id="mediaTable">
        <tr>
          <th>MediaType</th>
          <th style="width: 600px">Title</th>
          <th>Release_Date</th>
          <th style="width: 100px">Seasons</th>
          <th>Genre</th>
          <th>Edit Media</th>
          <th>Delete</th>
        </tr>
        <tr th:each="show : ${shows}">
          <td th:text="${show.mediaType}"></td>
          <td th:text="${show.title}" style="width: 600px"></td>
          <td th:text="${#temporals.format(show.releaseDate,'dd MMM yyyy')}"></td>
          <td th:text="${show.season}" style="width: 100px"></td>
          <td th:text="${show.genre}"></td>
          <td>
            <a th:href="@{'/Media/' + ${show.id} + '/edit'}">Edit Media</a>
          </td>
          <td>
            <form th:action="@{'/Media/' + ${show.id} + '/delete'}" method="POST">
              <input type="hidden" name="_method" value="delete"/>
              <input type="submit" value="Delete"/>
            </form>
          </td>
        </tr>
      </table>
  </form>

</nav>
<footer class="footer">

  <div class="div-footer"><p>© 2025 Project Repository. All rights reserved.</p></div>

</footer>

</body>
</html>